* {
  list-style-type: none;
  padding-inline-start: 0;
  font-size: large;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.schedule {
  width: 24em;
  margin: 0 auto;
  padding-inline-start: 1em;
  text-align: left;
}

.thanks {
  color: #888;
}
